

<a class="btn btn-default pull-right btn-primary" ui-sref="students.new" role="button">New</a>

<table class="table table-bordered" >


       <thead>
         <th>ID</th>
         
                         <th>Student_Name</th>
                         <th>Degree</th>
                         <th>Major</th>
                         <th>Courses</th>
          <th>Actions</th>


        </thead>
        <tbody>
        <tr ng-repeat=" student in students">
            <td>{{ student.id  }}</td> 
            
                         <td>{{ student.studentname }}</td>
                         <td>{{ student.degree }}</td>
                         <td>{{ student.major }}</td>
                         <td>{{ student.courseids }}</td>
            <td><a ui-sref="students.edit({id:student.id })" class="btn btn-default btn-warning" role="button"  id="editButton"><i class="fa fa-edit"></i></a>
            <button class="btn btn-default btn-danger" ng-click="deleteStudent(student.id)" id="deleteButton"><i class="fa fa-trash-o"></i></button>
            </td>
        </tr>
        </tbody>

</table>
