


      
				 
        <div class="form-group">
            <label for="name" class="col-sm-2 control-label"> Course Name</label>
            <div class="col-sm-4">
                 <input   type="text" id="coursename" name="coursename"  class="form-control"
                  ng-model="course.data.attributes.coursename" placeholder="coursename*" required>
            </div>
         </div>
                     
       
    <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">  
            <button  ng-disabled="loading" class="btn btn-primary " type="submit" >

                              <span ng-hide="loading">Save</span>
                              <span ng-show="loading">Loading....</span></button>

      </div>
   </div>
    
              

         
              
              
              

  

				
